{% extends 'admin/base.html' %}

{% block header %}Daftar Debitur{% endblock %}

{% block content %}
<div class="row">
  <!-- Striped table start -->
  <div class="col-lg-12 mt-3 text-right">
    <a href="{{ url_for('debtor.create') }}"  class="btn btn-success create-btn">Tambah Debitur</a><br><br>
  </div>
  <div class="col-lg-12 mt-3">
    <div class="single-table">
      <div class="table-responsive">
        <table class="table table-striped text-center">
          <thead class="text-uppercase">
            <tr>
              <th scope="col">Nama</th>
              <th scope="col">Kapal</th>
              <th scope="col">No. Telepon</th>
              <th scope="col">Piutang Total</th>
              <th scope="col">Piutang Saat Ini</th>
              {% if current_user.username == 'admin' %}
              <th id="action-header" scope="col">Aksi</th>
              {% endif %}
            </tr>
          </thead>
          <tbody id="debtor-list">
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Striped table end -->
</div>
{% endblock %}

{% block modals %}
<!-- Create/Update Modal -->
<div class="modal fade" id="debtorInputModal" tabindex="-1" role="dialog" aria-labelledby="debtorInputModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="debtorInputModalTitle"></h5>
      </div>
      <form action="" method="POST" enctype="multipart/form-data" id="input-form">
        <div class="modal-body">
          <div class="row">
            <!-- Striped table start -->
            <div class="col-lg-12">
              <div class="form-group">
                {{ debtor_form.name.label(for="name") }}
                {{ debtor_form.name(class_="validate form-control", id="input-modal-name") }}
                {% for error in debtor_form.name.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>

              <div class="form-group">
                {{ debtor_form.ship.label(for="ship") }}
                {{ debtor_form.ship(class_="validate form-control", id="input-modal-ship") }}
                {% for error in debtor_form.ship.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>

              <div class="form-group">
                {{ debtor_form.legality.label(for="legality") }}
                {{ debtor_form.legality(class_="validate form-control", id="input-modal-legality") }}
                {% for error in debtor_form.legality.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>

              <div class="form-group">
                {{ debtor_form.address.label(for="address") }}
                {{ debtor_form.address(class_="validate form-control", id="input-modal-address") }}
                {% for error in debtor_form.address.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>

              <div class="form-group">
                {{ debtor_form.phone_number.label(for="phone_number") }}
                {{ debtor_form.phone_number(class_="validate form-control", id="input-modal-phone-number") }}
                {% for error in debtor_form.phone_number.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>

              <div class="form-group">
                {{ debtor_form.key_person.label(for="key_person") }}
                {{ debtor_form.key_person(class_="validate form-control", id="input-modal-key-person") }}
                {% for error in debtor_form.key_person.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>

              <div class="form-group">
                {{ debtor_form.contact_person.label(for="contact_person") }}
                {{ debtor_form.contact_person(class_="validate form-control", id="input-modal-contact-person") }}
                {% for error in debtor_form.contact_person.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>

              <div class="form-group">
                {{ debtor_form.credit_aggreement.label(for="credit_aggreement") }}
                {{ debtor_form.credit_aggreement(class_="validate form-control", id="input-modal-credit-aggreement") }}
                {% for error in debtor_form.credit_aggreement.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>

              <div class="form-group">
                {{ debtor_form.total_credits.label(for="total_credits") }}
                {{ debtor_form.total_credits(class_="validate form-control", id="input-modal-total-credits") }}
                {% for error in debtor_form.total_credits.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>

              <div class="form-group">
                {{ debtor_form.tenor.label(for="tenor") }}
                {{ debtor_form.tenor(class_="validate form-control", id="input-modal-tenor") }}
                {% for error in debtor_form.tenor.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>

              <div class="form-group">
                {{ debtor_form.start_date.label(for="start_date") }}
                {{ debtor_form.start_date(class_="validate form-control", id="input-modal-start-date") }}
                {% for error in debtor_form.start_date.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>

              <div class="form-group">
                {{ debtor_form.end_date.label(for="end_date") }}
                {{ debtor_form.end_date(class_="validate form-control", id="input-modal-end-date") }}
                {% for error in debtor_form.end_date.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" value="Simpan" class="btn btn-outline-success">
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Tutup</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Create/Update Modal end -->

<!-- Details Modal -->
<div class="modal fade" id="debtorDetailsModal" tabindex="-1" role="dialog" aria-labelledby="debtorDetailsModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="debtorDetailsModalTitle"></h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
          <!-- Striped table start -->
            <div class="text-center">
              <img height="300" class="img-responsive img-circle" id="details-modal-face-image" src="">
            </div>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Nama</th>
                  <td id="details-modal-name"></td>
                </tr>
                <tr>
                  <th scope="row">Kapal</th>
                  <td id="details-modal-ship"></td>
                </tr>
                <tr>
                  <th scope="row">Legalitas</th>
                  <td id="details-modal-legality"></td>
                </tr>
                <tr>
                  <th scope="row">Alamat</th>
                  <td id="details-modal-address"></td>
                </tr>
                <tr>
                  <th scope="row">No. Telepon</th>
                  <td id="details-modal-phone-number"></td>
                </tr>
                <tr>
                  <th scope="row">Key Person</th>
                  <td id="details-modal-key-person"></td>
                </tr>
                <tr>
                  <th scope="row">Contact Person</th>
                  <td id="details-modal-contact-person"></td>
                </tr>
                <tr>
                  <th scope="row">Perjanjian Kredit</th>
                  <td id="details-modal-credit-aggreement"></td>
                </tr>
                <tr>
                  <th scope="row">Piutang Total</th>
                  <td id="details-modal-total-credits"></td>
                </tr>
                <tr>
                  <th scope="row">Piutang Saat Ini</th>
                  <td id="details-modal-reduced-credits"></td>
                </tr>
                <tr>
                  <th scope="row">Tenor</th>
                  <td id="details-modal-tenor"></td>
                </tr>
                <tr>
                  <th scope="row">Tanggal Mulai</th>
                  <td id="details-modal-start-date"></td>
                </tr>
                <tr>
                  <th scope="row">Tanggal Selesai</th>
                  <td id="details-modal-end-date"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Tutup</button>
      </div>
    </div>
  </div>
</div>
<!-- Details Modal end -->

<!-- Delete Modal -->
<div class="modal fade" id="debtorDeleteModal" tabindex="-1" role="dialog" aria-labelledby="debtorDeleteModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="debtorDeleteModalTitle"></h5>
      </div>
      <div class="modal-body" id="debtorDeleteModalBody"></div>
      <div class="modal-footer">
        <a class="btn btn-outline-success delete-btn" id="" href="">Ya</a>
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Tidak</button>
      </div>
    </div>
  </div>
</div>
<!-- Delete Modal end -->

<!-- Payment Modal -->
<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paymentModalTitle"></h5>
      </div>
      <form action="" method="POST" id="payment-form">
        <div class="modal-body" id="paymentModalBody">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                {{ payment_form.main.label(for="main") }}
                {{ payment_form.main(class_="validate form-control") }}
                {% for error in payment_form.main.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>

              <div class="form-group">
                {{ payment_form.interest.label(for="interest") }}
                {{ payment_form.interest(class_="validate form-control") }}
                {% for error in payment_form.interest.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>

              <div class="form-group">
                {{ payment_form.payment_date.label(for="payment_date") }}
                {{ payment_form.payment_date(class_="validate form-control") }}
                {% for error in payment_form.payment_date.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>

              <div class="form-group">
                {{ payment_form.notes.label(for="notes") }}
                {{ payment_form.notes(class_="form-control") }}
                {% for error in payment_form.notes.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" value="Simpan" class="btn btn-outline-success">
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Tutup</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Payment Modal end -->

<!-- Payment Details Modal -->
<div class="modal fade" id="paymentDetailsModal" tabindex="-1" role="dialog" aria-labelledby="paymentDetailsModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paymentDetailsModalTitle"></h5>
      </div>
      <div class="modal-body" id="paymentDetailsModalBody">
        <div class="row">
          <div class="col-lg-12">
            <div class="table-responsive">
              <table class="table table-striped text-center">
                <thead class="text-uppercase">
                  <tr>
                    <th scope="col">Pokok</th>
                    <th scope="col">Bunga</th>
                    <th scope="col">Keterangan</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody id="payment-details-list">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Tutup</button>
      </div>
    </div>
  </div>
</div>
<!-- Payment Modal end -->
{% endblock %}

{% block js_scripts %}
<script>
$(document).ready(function() {
  $(document).on('click','.create-btn',function(e){
    e.preventDefault();
    var btn = $(this);
    var url = btn.attr('href');

    $('#input-form').attr('action', url);
    $('#debtorInputModalTitle').html('Tambah Debitur');

    $('#debtorInputModal').modal('show');
  });

  $(document).on('click','.update-btn',function(e){
    e.preventDefault();
    var btn = $(this);
    var url = btn.attr('href');
    var name = btn.attr('id').split('-')[1]

    getDebtorUpdateDetail(url.replace('update', 'detail'))
    $('#input-form').attr('action', url);
    $('#debtorInputModalTitle').html('Sunting Debitur - ' + name);

    $('#debtorInputModal').modal('show');
  });

  $(document).on('click','.delete-modal-btn', function(e) {
    e.preventDefault();
    var btn = $(this)
    var url = btn.attr('href');
    var name = btn.attr('id').split('-')[1]

    $('#debtorDeleteModalTitle').html('Hapus Debitur - ' + name);
    $('#debtorDeleteModalBody').html('Anda yakin untuk menghapus debitur: ' + name);
    $('.delete-btn').attr('href', url);
    $('.delete-btn').attr('id', 'delete-' + name);

    $('#debtorDeleteModal').modal('show');
  });

  $(document).on('click','.delete-btn', function(e) {
    e.preventDefault();
    var btn = $(this)
    var url = btn.attr('href');
    var name = btn.attr('id').split('-')[1];

    deleteDebtor(url, name);
  });

  $(document).on('click','.enable-toggle',function(e) {
    e.preventDefault();
    var btn = $(this)
    var url = btn.attr('href');
    var type = url.slice(-1);
    var name = btn.attr('id').split('-')[1];

    toggleDebtorEnableStatus(url, type, name);
  });

  $(document).on('click','.detail-btn',function(e) {
    e.preventDefault();
    var btn = $(this)
    var url = btn.attr('href');
    var modal = $('#debtorDetailsModal')

    getDebtorDetail(url, modal)
  })

  $("#input-form").submit(function(e) {
    e.preventDefault();
    var form = $(this);

    inputDebtor(form);
  });

  $(document).on('click','.payment-btn',function(e){
    e.preventDefault();
    var btn = $(this);
    var url = btn.attr('href');
    var name = btn.attr('id').split('-')[1]

    $('#payment-form').attr('action', url);
    $('#paymentModalTitle').html('Pembayaran ' + name);

    $('#paymentModal').modal('show');
  });

  $(document).on('click','.payment-detail-btn',function(e) {
    e.preventDefault();
    var btn = $(this)
    var url = btn.attr('href');
    var modal = $('#paymentDetailsModal')

    getPaymentDetails(url, modal)
  })

  $("#payment-form").submit(function(e) {
    e.preventDefault();
    var form = $(this);

    pay(form);
  });

  getDebtors();
});

function inputDebtor(form) {
  $.ajax({
    url: form.attr('action'),
    type: "POST",
    data: form.serialize(),
    success: function(res) {
      console.log(form.attr('action').split('/'))
      if (form.attr('action').split('/')[form.attr('action').split('/').length-1] == 'create') {
        $.notify("Debitur " + res['name'] + " berhasil ditambahkan!", {position: "top center", className: "success"});
      } else {
        $.notify("Debitur " + res['name'] + " berhasil disunting!", {position: "top center", className: "success"});
      }

      $('#debtorInputModal').modal('hide');
      getDebtors();
    },
    error: function(res) {
      $.notify('Registrasi debitur tidak berhasil. Silahkan coba lagi!',  {position: "top center", className: "error"})
    }
  });
}

function getDebtorUpdateDetail(url) {
  $.ajax({
    url: url,
    type: "GET",
    success: function(res){
      console.log(res)
      $('#input-modal-name').val(res['name']);
      $('#input-modal-ship').val(res['ship']);
      $('#input-modal-legality').val(res['legality']);
      $('#input-modal-address').val(res['address']);
      $('#input-modal-phone-number').val(res['phone_number']);
      $('#input-modal-key-person').val(res['key_person']);
      $('#input-modal-contact-person').val(res['contact_person']);
      $('#input-modal-credit-aggreement').val(res['credit_aggreement']);
      $('#input-modal-total-credits').val(res['total_credits']);
      $('#input-modal-reduced-credits').val(res['reduced_credits']);
      $('#input-modal-tenor').val(res['tenor']);
      $('#input-modal-start-date').val(res['start_date']);
      $('#input-modal-end-date').val(res['end_date']);
    }
  });
}

function getDebtorDetail(url, modal) {
  $.ajax({
    url: url,
    type: "GET",
    success: function(res){
      $('#debtorDetailsModalTitle').html('Detail Debitur - ' + res['name']);
      $('#details-modal-name').html(res['name']);
      $('#details-modal-ship').html(res['ship']);
      $('#details-modal-legality').html(res['legality']);
      $('#details-modal-address').html(res['address']);
      $('#details-modal-phone-number').html(res['phone_number']);
      $('#details-modal-key-person').html(res['key_person']);
      $('#details-modal-contact-person').html(res['contact_person']);
      $('#details-modal-credit-aggreement').html(res['credit_aggreement']);
      $('#details-modal-total-credits').html('Rp ' + convertToCurrencyFormat(res['total_credits']));
      $('#details-modal-reduced-credits').html('Rp ' + convertToCurrencyFormat(res['reduced_credits']));
      $('#details-modal-tenor').html(res['tenor']);
      $('#details-modal-start-date').html(res['fancy_start_date']);
      $('#details-modal-end-date').html(res['fancy_end_date']);

      modal.modal('show');
    }
  });
}

function deleteDebtor(url, name) {
  $.ajax({
    url: url,
    type: "POST",
    data: "",
    success: function(res){
      res = JSON.parse(res);

      $.notify('Debitur ' + name + ' berhasil dihapus!', {position: 'top center', className: 'success'});
      $('#debtorDeleteModal').modal('hide');

      getDebtors();
    },
    error: function(res) {
      $.notify('Penghapusan debitur tidak berhasil. Silahkan coba lagi!',  {position: "top center", className: "error"})
    }
  });
}

function pay(form) {
  $.ajax({
    url: form.attr('action'),
    type: "POST",
    data: form.serialize(),
    success: function(res) {
      $.notify("Debitur " + res['name'] + " berhasil melakukan pembayaran!", {position: "top center", className: "success"});
      $('#paymentModal').modal('hide');

      getDebtors();
    },
    error: function(res) {
      $.notify('Pembayaran debitur tidak berhasil. Silahkan coba lagi!',  {position: "top center", className: "error"})
    }
  });
}

function getPaymentDetails(url, modal) {
  $.ajax({
    url: url,
    type: "GET",
    success: function(res){
      $('#paymentDetailsModalTitle').html('Detail Pembayaran Debitur - ' + res['debtor']);
      $('#payment-details-list').html('');

      res['payments'].forEach(function(item) {
        $('<tr scope="row">').append(
          $('<td colspan="4">').text(item['fancy_payment_date']),
        ).appendTo('#payment-details-list');

        $('<tr scope="row">').append(
          $('<td>').text('Rp ' + convertToCurrencyFormat(item['main'])),
          $('<td>').text('Rp ' + convertToCurrencyFormat(item['interest'])),
          $('<td>').text(item['notes']),
          $('<td>').text('Rp ' + convertToCurrencyFormat(item['main'] + item['interest'])),
        ).appendTo('#payment-details-list');
      });

      modal.modal('show');
    }
  });
}

function getDebtors() {
  $.ajax({
    'url': "{{ url_for('debtor.list') }}",
  }).success(function(result){
    $('#debtor-list').html('');

    result.forEach(function(item) {
      $('<tr scope="row">').append(
        $('<td>').text(item['name']),
        $('<td>').text(item['ship']),
        $('<td>').text(item['phone_number']),
        $('<td>').text('Rp ' + convertToCurrencyFormat(item['total_credits'])),
        $('<td>').text('Rp ' + convertToCurrencyFormat(item['reduced_credits'])),
        {% if current_user.username == 'admin' %}
        $('<td>').append(
          $('<div class="btn-group" role="group">').append(
            $('<a class="btn btn-primary detail-btn" href="/admin/debtor/' + item['id'] + '/detail" data-toggle="tooltip" title="Detail">').html('<i class="ti-eye"></i>'),
            $('<a class="btn btn-dark payment-detail-btn" id="paymentdetail-' + item['name'] + '" href="/admin/debtor/' + item['id'] + '/payment-detail" data-toggle="tooltip" title="Detail Pembayaran">').html('<i class="ti-receipt"></i>'),
            $('<a class="btn btn-light payment-btn" id="pay-' + item['name'] + '" href="/admin/debtor/' + item['id'] + '/pay" data-toggle="tooltip" title="Bayar">').html('<i class="ti-wallet"></i>'),
            $('<a class="btn btn-info update-btn" id="update-' + item['name'] + '" href="/admin/debtor/' + item['id'] + '/update" data-toggle="tooltip" title="Sunting">').html('<i class="ti-pencil">'),
            $('<a class="btn btn-danger delete-modal-btn" id="delete-' + item['name'] + '" href="/admin/debtor/' + item['id'] + '/delete" data-toggle="tooltip" title="Hapus">').html('<i class="ti-trash">'),
          ),
        ),
        {% endif %}
      ).appendTo('#debtor-list');
    });
  });
}

function convertToCurrencyFormat(_str) {
  return _str.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.")
} 
</script>
{% endblock %}